
.triangle {
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(to bottom right, #9D96B8 75%, transparent 0),
    linear-gradient(to bottom right, #9D96B8 25%, transparent 0);
    background-size: 50.05% 100%;
    background-repeat: no-repeat;
    background-position: left,right;
}

.loginForm{
  
    width: 100vw;
    height: 83vh;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}
.topBlurb{
  font-size: 1.5em;
    margin: 1em;
    margin-left: 1.6em;


}
.middleBlurb{
margin: 1em;
    display: flex;
    flex-direction:row;

}
.bottomBlurb{
    
    margin: 1em;
    display: flex;
    flex-direction:column;
     
}

.emailTag{
    padding: 0.32em 0;
    border-radius:0.4em;
    height: 2.5em;
    width: 6em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 1.5em;
    background-color: blanchedalmond;
}
.passwordTag{
padding: 0.32em 0;
border-radius:0.4em;
height: 2.5em;
width: 8em;
text-align: center;
margin-bottom: 1em;
margin-left: 1.5em;
background-color: blanchedalmond;
}
.email{
padding-left: 5em;
padding-right: 10em;
}
.password{

padding-left: 0em;
padding-right: 3em;
}
.formPassword{
width: 15em;
height: 3.8em;
background-color:#9D96B8; 
border-radius:0.4em;
text-align: center;
}
.formEmail{
text-align: center;
width: 20em;
height: 3.8em;
background-color: #EAFFFD; 
border-radius:0.4em;
}
.register{
border: 2;
text-align: center;
transition: 0.3s;
padding-top: 0.25em;
height: 2em;
margin: 1em;
width: 13em;
border-radius:0.2em;
background-color: none ;

}
.loginButton{
margin-left: 2.4em;
}
.register:hover {
transition: 0.5s;
border: 1;
padding-top: 0.25em;
height: 2em;
margin: 1em;
width: 13em;
border-radius:0.2em;
background-color: #EAFFFD ;
opacity:0.9;
}

fieldset {
border: 0;
}