body{
    background-color: #FDDEE9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
element {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
}
element::-webkit-scrollbar {
    display: none;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=text] {
    width: 20vw;
    height:2vh;
  }
* {
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
}
.body{
    font-family: 'Anek Kannada', sans-serif;
}
input {
    width: 3vw;
}
.ul{
    width: 90vw;
    background-color: #DD5E98;
}
.warehouse_form{
    margin-left: 5vw;
    height: 25vh;
    background-color: aqua;
}
.inventory_form{
    height: 4.4vh;
    background-color: orange;
}
.head{
    margin-left: 9vw;
    width:75vw;
}
.location_name{
    display: inline-block;
    width: 25%;
}
.location_weather{
    display: inline-block;
    width: 50%;
}
.add_inventory_button{
    display: inline-block;
    width: 50%;
}
.inventory-item{
    margin-left: 3vw;
    width:92vw;
}
table{
    margin-left: -0.2vw;
    width:91.8vw;
}

table, tr, td{
    border: 0.2vw solid black;
    overflow-y: hidden;
    border-collapse: collapse;
}
.new-product{
    margin-left: 3vw;
    width:91.4vw;
    background-color: aquamarine;
    border: 0.2vw solid black;
}
p{
    display: inline-block;
    margin: 2vw;
    font-family: 'Gloria Hallelujah', cursive;
}
.element{
    width: 10vw;
    display: inline-block;
    border: 0.2vw solid black;
    margin-left: -0.2vw;
    height: 5vh;
    margin-top:-0.2vw;
    font-size:1vw;
}
.description{
    font-size:0.8vw;
    width: 20vw;
    display: inline-block;
    border: 0.2vw solid black;
    margin-left: -0.2vw;
    height: 5vh;
    margin-top:-0.2vw
}
.options{
    margin-left:3.2vw;
    margin-bottom: 5vh;
    width: 90vw;
    height:16vh
}
.location_weather{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
    width: 50vw;
    border:none;
}
.no-border{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: left;
    border: none;
    padding:1vw;
}
select{
    font-family: 'Gloria Hallelujah', cursive;
    width: 15vw;
    height: 4vh;
}
button{
    height: 4vh;
    width: 5vh;
}
button:hover{
    transition-duration: 500ms;
    background-color: #DD5E98;
}

