
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=text] {
    width: 90%;
  }
* {
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
    font-family: 'Anek Kannada', sans-serif;
}
.add{
    display: inline-block;
}
input {
    width: 3vw;
}
.ul{
    margin-left: 0;;
}
.inventory_form{
    width:90vw;
    height: 25vh;
    left:5vw;
    position: absolute;
    z-index: 99 !important; 
    background-color: royalblue;
}
.head{
    margin-left: 9vw;
    width:80vw;
    background-color: lightcoral;
}
.location_name{
    display: inline-block;
    background-color: red;
    width: 25%;
}
.location_weather{
    display: inline-block;
    background-color: orange;
    width: 50%;
}
.add_inventory_button{
    display: inline-block;
    background-color: orange;
    width: 50%;
}
.inventory-item{
    margin-left: 7vw;
    width:80vw;
    background-color: lightcoral;
}
.inventory-titles{
    margin-left: 7vw;
    border-top: 5px solid black;
    width:80vw;
    background-color: orange;
}
.sku{
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 10%;
}
.name{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 17%;
    background-color: aqua;
}
.price{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black; 
    display: table-cell;
    width: 10%;
    background-color: aqua;
}
.stock{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 10%;
    background-color: aqua;
}
.description{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 27%;
    background-color: aqua;
}
.category{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 10%;
    background-color: aqua;
}
.delete{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 8%;
    background-color: aqua;
}
.edit{
    border-left: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    display: table-cell;
    width: 8%;
    background-color: aqua;
}
