.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    width: 15%
}

.container {
    width: 15%;
    
}

.container img {
    margin: 1vw;
    width: 8vw;
    align-items: left;
    cursor: pointer;
    justify-self: start;
    object-fit: cover;
}

.title {
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content:center; 
    margin-top: 0;
}
