
.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.container1 img {
    margin: 1vw;
    width: 8vw;
    align-items: left;
    cursor: pointer;
    justify-self: start;
    object-fit: cover;
}
.container2 img {
    margin: 1vw;
    width: 8vw;
    align-items: left;
    cursor: pointer;
    justify-self: start;
    object-fit: cover;
}

.title {
    list-style: none;
    text-align: center;
    width: 35vw;
    justify-content:center; 
    margin-top: 0;
    font-family: 'Gloria Hallelujah', cursive;
}
